# Atención a clientes

# Diccionario de datos

* `id_llamada` - Contiene el identificador de la llamada.
* `fecha` - Fecha en la que se realizó la llamada.
* `asesor` - Nombre del asesor que atendió la llamada.
* `area` - Área en donde fue recibida la llamada.
* `atendida` - Indica si la llamada fue atendida o no.
* `resuelto` - Indica si se resolvió el problema por el cual el cliente llamó (0 = no, 1 = sí).
* `tiempo_respuesta` - Tiempo que tardó el asesor en contestar (en segundos).
* `duracion_llamada` - Duración total de la llamada (en minutos con segundos).
* `duracion_llamada_asistida` - Tiempo de la llamada con asistencia del asesor (en segundos).
* `indice_satisfaccion` - Índice de satisfacción de 1 a 5 (donde 1 es pésimo y 5 es excelente).

In [1]:
# Librerias utilizadas
import pandas as pd

In [2]:
# Cargar el dataset 
servicio = pd.read_excel("./datasets/datos_de_servicio.xlsx")

In [3]:
# Funcion para obtener información general del dataset
def leer_datos(df):
    print(df.head())
    print(df.info())
    print(df.describe())

In [4]:
leer_datos(servicio)

  Id Llamada      Fecha   Asistente           Área Respondido Resuelto (S/N)  \
0     ID0001 2023-03-22     Juan D.         Ventas         SÍ              S
1     ID0002 2023-03-17  Marcelo F.       RECLAMOS         SÍ              N
2     ID0003 2023-03-18  Leandro C.         Ventas         SÍ              S
3     ID0004 2023-03-09  Leandro C.         Ventas         SÍ              S
4     ID0007 2023-03-01   Marina Z.  Cancelaciones         SÍ              S

   Velocidad de respuesta Duración de la llamada  \
0                     109               00:02:23
1                      70               00:04:02
2                      10               00:02:11
3                      53               00:00:37
4                      24               00:03:40

   Duración con asistente en segundos  Índice de satisfacción
0                                 143                       2
1                                 242                       3
2                                 131                       3
3                                  37                       2
4                                 220                       2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Id Llamada                          1009 non-null   object
 1   Fecha                               1009 non-null   datetime64[ns]
 2   Asistente                           1009 non-null   object
 3   Área                                1009 non-null   object
 4   Respondido                          1009 non-null   object
 5   Resuelto (S/N)                      1009 non-null   object
 6   Velocidad de respuesta              1009 non-null   int64
 7   Duración de la llamada              1009 non-null   object
 8   Duración con asistente en segundos  1009 non-null   int64
 9   Índice de satisfacción              1009 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 79.0+ KB
None
                               Fecha  Velocidad de respuesta  \
count                           1009             1009.000000
mean   2023-03-15 15:19:05.292368640               66.682854
min              2023-03-01 00:00:00               10.000000
25%              2023-03-08 00:00:00               40.000000
50%              2023-03-15 00:00:00               67.000000
75%              2023-03-23 00:00:00               95.000000
max              2023-03-31 00:00:00              125.000000
std                              NaN               33.342953

       Duración con asistente en segundos  Índice de satisfacción
count                         1009.000000             1009.000000
mean                           223.778989                3.402379
min                             30.000000                1.000000
25%                            127.000000                3.000000
50%                            228.000000                3.000000
75%                            324.000000                4.000000
max                            419.000000                5.000000
std                            113.007689                1.201287

## 1. Pre-procesamiento de datos

1. Normalizar el nombre de las columnas 
2. Convertir a minusculas los datos de las columnas `asesor` y `area`
2. Quitar asentos de la columna `atendida`
3. Convetir los datos de la columna `resuelto` 0 para no y 1 para si 
4. Convetir a segundos el tiempo de la columna `duracion_llamada`

In [5]:
print(servicio.columns)

Index(['Id Llamada', 'Fecha', 'Asistente', 'Área', 'Respondido',
       'Resuelto (S/N)', 'Velocidad de respuesta', 'Duración de la llamada',
       'Duración con asistente en segundos', 'Índice de satisfacción'],
      dtype='object')

In [6]:
# normalizar el nombre de las columnas
columns_new = {'Id Llamada': 'id_llamada', 
               'Fecha' : 'fecha', 
               'Asistente' : 'asesor',
               'Área' : 'area',
               'Respondido' : 'respondio',
               'Resuelto (S/N)' : 'resuelto',
               'Velocidad de respuesta': 'tiempo_respuesta',
               'Duración de la llamada': 'duracion_llamada',
               'Duración con asistente en segundos': 'duracion_llamada_asistida' ,
               'Índice de satisfacción' : 'indice_satisfaccion'
}

In [7]:
# cambiar nombre columnas antiguas a nuevas
servicio = servicio.rename(columns=columns_new)

In [8]:
# convertir a minusculas los datos de asesor y area 
def to_lower(df,columns):
    df[columns] = df[columns].apply(lambda x: x.str.lower() if x.dtype == 'object' else x)
    return df

In [9]:
to_lower(servicio, ['asesor', 'area'])

,id_llamada,fecha,asesor,area,respondio,resuelto,tiempo_respuesta,duracion_llamada,duracion_llamada_asistida,indice_satisfaccion
0,ID0001,2023-03-22,juan d.,ventas,SÍ,S,109,00:02:23,143,2
1,ID0002,2023-03-17,marcelo f.,reclamos,SÍ,N,70,00:04:02,242,3
2,ID0003,2023-03-18,leandro c.,ventas,SÍ,S,10,00:02:11,131,3
3,ID0004,2023-03-09,leandro c.,ventas,SÍ,S,53,00:00:37,37,2
4,ID0007,2023-03-01,marina z.,cancelaciones,SÍ,S,24,00:03:40,220,2
...,...,...,...,...,...,...,...,...,...,...
1004,ID1764,2023-03-06,ana s.,ventas,SÍ,S,92,00:06:00,360,4
1005,ID1765,2023-03-05,ana s.,ventas,SÍ,S,95,00:05:00,300,3
1006,ID1766,2023-03-20,gustavo m.,ventas,SÍ,S,49,00:01:58,118,5
1007,ID1770,2023-03-04,ana s.,cancelaciones,SÍ,S,78,00:01:02,62,4
1008,ID1772,2023-03-26,leandro c.,reclamos,SÍ,S,121,00:06:01,361,2

In [10]:
# convetir los datos de la columna respondio
servicio['respondio'] = servicio['respondio'].replace("SÍ", "si")

In [11]:
# convetir los datos de la columna resuelto
servicio['resuelto'] = servicio['resuelto'].replace(['S', 'N'], ['1','0'])

In [12]:
# convertir los datos de la columna resuelto a int 
servicio['resuelto'] = servicio['resuelto'].astype('int')

In [13]:
# convertir los datos de duracion llamada a segundos
servicio['duracion_llamada'] = pd.to_timedelta(servicio['duracion_llamada']).dt.total_seconds() / 60

In [ ]:
# redondear a dos decimales el numero obtenido
servicio['duracion_llamada'] = servicio['duracion_llamada'].round(2)

In [16]:
servicio

,id_llamada,fecha,asesor,area,respondio,resuelto,tiempo_respuesta,duracion_llamada,duracion_llamada_asistida,indice_satisfaccion
0,ID0001,2023-03-22,juan d.,ventas,si,1,109,2.38,143,2
1,ID0002,2023-03-17,marcelo f.,reclamos,si,0,70,4.03,242,3
2,ID0003,2023-03-18,leandro c.,ventas,si,1,10,2.18,131,3
3,ID0004,2023-03-09,leandro c.,ventas,si,1,53,0.62,37,2
4,ID0007,2023-03-01,marina z.,cancelaciones,si,1,24,3.67,220,2
...,...,...,...,...,...,...,...,...,...,...
1004,ID1764,2023-03-06,ana s.,ventas,si,1,92,6.00,360,4
1005,ID1765,2023-03-05,ana s.,ventas,si,1,95,5.00,300,3
1006,ID1766,2023-03-20,gustavo m.,ventas,si,1,49,1.97,118,5
1007,ID1770,2023-03-04,ana s.,cancelaciones,si,1,78,1.03,62,4
1008,ID1772,2023-03-26,leandro c.,reclamos,si,1,121,6.02,361,2

## 2. Análisis exploratorio (EDA)

* Identificar valores duplicados
* Identificar valores ausentes 
* Identificar valores atípicos

In [ ]:
def valores(df):
    print("El número de valores duplicados es:", df.duplicated().sum())
    print("El número de valores ausentes es:\n", df.isna().sum())

In [25]:
valores(servicio)

El número de valores duplicados es: 0
El número de valores ausentes es:
 id_llamada                   0
fecha                        0
asesor                       0
area                         0
respondio                    0
resuelto                     0
tiempo_respuesta             0
duracion_llamada             0
duracion_llamada_asistida    0
indice_satisfaccion          0
dtype: int64